[Unit]
Description=Run case cooling fan when RPI cpu gets hot
After=meadiacenter.service

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/python /home/pi/pifan/pifand.py
Restart=Always
# On OSMC use Restart=on-failure instead of Restart=Always

[Install]
WantedBy=multi-user.target